<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org">
<suite name="Continuous Workflow Suite">
    <test name="Web Shop Automated Workflows">
        <classes>
            <class name="com.demoshop.tests.PositiveFlowTest" />
            <class name="com.demoshop.tests.NegativeFlowTest" />
        </classes>
    </test>
</suite>
